.background-img{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.img-text{
    position: absolute;
    top: 0;
    left: 0;
    color:white;
    width: 100vw;
    height: 100%;
}