#img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: space-evenly; 
    align-items: center;

}

.img-url {
    width: 90%; 
    height: 75%; 
    margin: 20px auto; 
    border-radius: 5%;
    transition: transform 0.4s;
}

.img-url:hover{
    transform: scale(1.1);
}



.arrow-icon{
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: transform 0.3s;
}

.arrow-icon:hover{
    transform: scale(1.1);

}

.galery-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.arrow-button{
    background-color: transparent;
    border: none;
    margin: 5px;
    border-radius: 10%;
    transition: transform 0.3s;
}

.arrow-button:hover{
    transform: scale(1.1);
}