body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.naslov{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    overflow: hidden;
    margin: 30px;
    height: 80%;
}

.pictures{
    flex: 3;
    margin: 10px;
    border: 1px solid #560D96;
    border-radius: 10px;
    background-color: #560D9640;
}


.header-bar{
    height:100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 15%;
    height: 150px;
    margin: 0 0 0 30%;
}

.bar-button{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #FFFFFF30;
    margin:5% 30px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.bar-button:hover{
    background-color: #F1FF1730;    
    border: 1px solid yellow;

}

.bar-buttons-div{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 20px;

}

.bar{
    flex: 1;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #FFFFFF10;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.bar-item{
    margin: 30px;
    text-align: center;
    width: 400px;
    height: 100px;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF90;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.bar-item:hover{
    background-color: #FFFFFFFF;
}

.bar-item-img{
    width: 75px;
    height: 75px;
}
